* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  /* css variables */
  --main-bg-color: rgb(15, 15, 15);
  --link-color: rgb(144, 247, 144);
  --font-color: rgb(255, 255, 255);
  --arrow-color: #acacac;

}


html{
  scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: var(--main-bg-color);
}

/* menu */
.main-menu ,.main-menu-mobile{
  position: fixed;
  height: 10vh;
  z-index: 999;
  backdrop-filter: blur(10px);
  display: flex;
  top: 0;
  justify-content: space-around;

}
.main-menu-mobile{
  backdrop-filter: blur(0px);

}
.menu-logo>a>svg {
  color: var(--font-color);
  width: 50px;
}

.menu-logo>a {
  cursor: pointer;
}

.menu-list,
.menu-logo {
  width: 86vw;
  display: flex;
  height: auto;
  justify-content: flex-end;
}

.menu-logo {
  width: 10vw;
  margin-left: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  height: auto;
}

.menu-list>ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav>#box>#entries>ol {
  list-style: none;
}

.menu-list>ol>li {
  margin: 1rem;
  font-size: 1.2rem;
}
nav>#box>#entries>ol>li{
font-size: 2rem;
margin: 3rem;
}
span {
  color: var(--link-color);
}

.menu-list>ol>li>a,
nav>#box>#entries>ol>li>a {
  color: var(--font-color);
  text-decoration: none;

}

.menu-list>ol>li>a:hover,
nav>#box>#entries>ol>li>a:hover {
  color: var(--link-color);
  transition: color 300ms linear;

}

/* https://i.postimg.cc/SxVJJxz0/i92oj95571698.jpg */

/* main page */
.hero-page,
.about-page {
  width: 100vw;
  height: 92vh;
  display: flex;
  color: var(--font-color);
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background: var(--main-bg-color);
}

.about-page {
  height: 100vh;
  flex-direction: row;
  align-items: center;
}

.welcome-page,
.about-me-text {
  display: flex;
  width: 45vw;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.about-me-text {
  width: 35vw;
}

.welcome-page>h1 {
  margin-top: 1rem;
  font-size: 5rem;
  color: var(--font-color);
}

.welcome-page>h2 {
  font-size: 3rem;
}

.welcome-page>p,
.about-me-text>p {
  color: var(--font-color);
  opacity: 0.8;
  margin-top: 1rem;
}

.about-me-img {
  width: 420px;
  height: 420px;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--arrow-color);
  border-right: 5px solid var(--arrow-color);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

#open-nav {
  display: none;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  left: 0;
  transition: .7s ease-out;
}

#open-nav:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#burger {
  position: fixed;
  height: 3px;
  width: 40px;
  transition: 250ms;
  background-color: var(--font-color);
}

#burger:before,
#burger:after {
  content: '';
  position: absolute;
  background-color: var(--font-color);
  height: 3px;
  ;
  width: 40px;
  border-radius: 7px;
  transition: 300ms;
}

#burger:before {
  top: -500%;
}

#burger:after {
  top: 500%;
}

.burger-close {
  background: none !important;
}

.burger-close {
  background: none !important;
}

.burger-close:before,
.burger-close:after {
  top: 0 !important;
}

.burger-close:before {
  transform: rotate(-45deg) !important;
}

.burger-close:after {
  transform: rotate(45deg) !important;
}

nav {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  /* background:red; */
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 998;
  animation: nav-blur 150ms steps(50) forwards;
}

.nav-open {
  display: flex;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media only screen and (max-width: 1100px) {

  .welcome-page,
  .about-me-text {
    width: 80vw;

  }

  .menu-list>ol>li>a>span {
    display: none;
  }

  .welcome-page>h1 {
    font-size: 5rem;
  }

  .menu-list>ol {
    display: none;
  }

  #open-nav {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {

  .welcome-page,
  .about-me-text {
    width: 80vw;
  }

  img {
    width: auto;
  }

  .menu-list>ol>li {
    margin: 1rem;
  }

  .welcome-page>h1 {
    font-size: 3.5rem;
  }

  .welcome-page>h2 {
    font-size: 1.5rem;
  }

  .arrow {
    top: 93%;
  }

  .arrow span {
    width: 15px;
    height: 15px;
  }

  .menu-logo {
    margin-left: 4vw;
  }

}

@media only screen and (max-width: 400px) {}