* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;

  /* css variables */
  --main-bg-color: rgb(15, 15, 15);
  --link-color: rgb(144, 247, 144);
  --font-color: rgb(255, 255, 255);
  --arrow-color: #acacac;
  --project-color:rgb(25, 25, 25);
}


html {
  scroll-behavior: smooth;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px;
}
::placeholder {
  color: #888888;
  padding: 1em;
}
body {
  background-color: var(--main-bg-color);
}

/* menu */
.main-menu,
.main-menu-mobile {
  position: fixed;
  height: 10vh;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  top: 0;
  width: 100vw;
  justify-content: space-around;

}

.main-menu-mobile {
   -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);

}



.menu-list{
  width: 98vw;
  display: flex;
  height: auto;
  justify-content: flex-end;
}

.menu-list>ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav>#box>#entries>ol {
  list-style: none;
}

.menu-list>ol>li {
  margin: 1rem;
  font-size: 1.2rem;
}

nav>#box>#entries>ol>li {
  font-size: 2rem;
  margin: 3rem;
}

span {
  color: var(--link-color);
}

.menu-list>ol>li>a,
nav>#box>#entries>ol>li>a {
  color: var(--font-color);
  text-decoration: none;

}

.menu-list>ol>li>a:hover,
nav>#box>#entries>ol>li>a:hover {
  color: var(--link-color);
  transition: color 300ms linear;

}

/* https://i.postimg.cc/SxVJJxz0/i92oj95571698.jpg */

/* main page */

.hero-page,
.about-page,
.project-page,
.projects-conteiner,.error-page,.contact-form-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  color: var(--font-color);
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  background: var(--main-bg-color);
}

.about-page{
  flex-direction: row;
  align-items: center;
}
.projects-conteiner .project-grid{
  margin-top: 4em;
  width: 100%;
  list-style: none;
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;

}
.project-page,.about-page {
  min-width: 60vw;
  padding: 10vh 0 0 0;
  margin: 0px auto;
}
.projects-conteiner{
  margin: 0px auto;
  max-width: 56.9vw;
  display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.project-inner {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 3rem 2rem;
    /* border-radius: var(--border-radius); */
    background-color: var(--project-color);

    overflow: auto;
}

.welcome-page,
.about-me-text,
.title
{
  display: flex;
  width: 45vw;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-text{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.about-me-text {
  width: 35vw;
}

.welcome-page>h1 {
  margin-top: 1rem;
  font-size: 5rem;
  color: var(--font-color);
}

.welcome-page>h2 {
  font-size: 3rem;
}

.welcome-page>p,
.about-me-text>p,
.project-text>p {
  color: var(--font-color);
  opacity: 0.8;
  margin-top: 1rem;
}

.about-me-img {
  width: 420px;
  height: 420px;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--arrow-color);
  border-right: 5px solid var(--arrow-color);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

#open-nav {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80px;
  left: 0;
  transition: .7s ease-out;
}

#open-nav:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#burger {
  position: fixed;
  height: 3px;
  width: 40px;
  transition: 250ms;
  border-radius: 7px;
  background-color: var(--font-color);
}

#burger:before,
#burger:after {
  content: '';
  position: absolute;
  background-color: #fff !important;
  height: 3px;
  width: 40px;
  border-radius: 7px;
  transition: 300ms;
}

#burger:before {
  top: -500%;
}

#burger:after {
  top: 500%;
}

.burger-close {
  background: none !important;
}

.burger-close {
  background: none !important;
}

.burger-close:before,
.burger-close:after {
  top: 0 !important;
}

.burger-close:before {
  transform: rotate(-45deg) !important;
}

.burger-close:after {
  transform: rotate(45deg) !important;
}

nav {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
   -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 998;
  animation: nav-blur 150ms steps(50) forwards;
}

.nav-open {
  display: flex;
  background: #0f0f0fcf
}


@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
a#project-icon {
  font-size: 2em;
  position: absolute;
  right: 20px;
  top: 20px;
}

p#project-language {
  color: #858585;
  margin-top: 0em;
  position: absolute;
  font-size: 0.8em;
  bottom: 20px;
  right: 20px;
}

p#project-desc {
  margin: 1em 0 0 0;
}
.title p{
  margin: 2em 0 0 0;
}
form{
  width: 45vw;
  margin: 2em 0 0 0;
}
.form-group {
  width: 100%;
  margin: 1em 0 1em 0;
}
.contact-form input {
  border-radius: 0;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  padding:  0 0 0 1rem;
  height: 5em;
  /* font-size: 12px; */
  color: var(--font-color);
  border: none;
  background-color: var(--project-color);
}
.contact-form textarea {
  border-radius: 0;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  resize: none;
  height: 10em;
  font-size: 12px;
  color: var(--font-color);
  border: none;
  background-color: var(--project-color);
}
.contact-form .submit-button {
  background: #2e2e2e;
  color:var(--link-color);
  cursor:pointer;
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.contact-form .submit-button:hover{
  transition: ease-in 300ms;
  color: #2e2e2e;
  background:var(--link-color);
}


@media only screen and (max-width: 1100px) {

  .welcome-page,
  .about-me-text,
  .project-text {
    width: 80vw;
  }
  .projects-conteiner{
    max-width: 80vw;
  }
  .menu-list>ol>li>a>span {
    display: none;
  }

  .welcome-page>h1 {
    font-size: 5rem;
  }

  .menu-list>ol {
    display: none;
  }

  #open-nav {
    display: flex;
  }
  .project,.projects-conteiner{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

}

@media only screen and (max-width: 500px) {

  .about-page{
    margin-top:6em;
  }
  .about-me-img {
    width: max-content;
    height: max-content;
  }
  .about-me-img  img{
    width: 80vw;
}
  .projects-conteiner{
    margin: 0 auto;
    max-width: fit-content;
  }
  .projects-conteiner .project-grid {
    width: 80vw;
  }

  img {
    width: auto;
  }

  .menu-list>ol>li {
    margin: 1rem;
  }

  .welcome-page>h1 {
    font-size: 3.5rem;
  }

  .welcome-page>h2 {
    font-size: 1.5rem;
  }

  .arrow {
    top: 93%;
  }

  .arrow span {
    width: 15px;
    height: 15px;
  }

  .menu-logo {
    margin-left: 4vw;
  }

}

@media only screen and (max-width: 400px) {
  .welcome-page>h1 {
    font-size: 3rem;
  }
  .projects-conteiner .project-grid {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
  .projects-conteiner .project-grid span{
    font-size:16px;
  }
}
